div.gm-svpc,
.gm-control-active, .gm-fullscreen-control, .gmnoprint{
    display: none;
}

.menu-container{
        display: flex;

.menu-items{
    z-index: 20000000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--ion-color-light);
    display: flex;
        }
.menu-item{
    position: absolute;
    bottom: 25%;
    right: 12%;

}
}
