.items-overflow {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    row-gap: 50px;
    grid-auto-rows: minmax(50px, auto);
    justify-items: center;
    overflow-y: scroll;
    & ion-card {
      margin: 0 10px;
      width: 150px;
    }
  }
  ion-icon.paw-icon {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
.text-custom{
  vertical-align: middle;
  font-weight: 600;
}

  ion-searchbar{
    input{
      padding-left: 50px !important;
    }
  }

  ion-button{
    width: 180px;
    font-size:12px
  }

  .last-walks{
    display: flex;
    justify-content: space-around;
    .name-and-age{
      font-size: 16px;
      line-height: 1.5;
      font-weight: 600;
    }
  
  }