:root {
  --my-color: var(--ion-color-dark);
}

* {
  font-family: 'Radio Canada', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.ios,
.md {
  --ion-text-color: var(--my-color);
}

ion-title {
  font-size: 23px;
}

ion-card,
ion-card-subtitle,
ion-chip {
  --color: var(--my-color);
}

hr {
  background: var(--ion-color-light);
}

ion-back-button {
  font-size: 12px;
}

summary {
  display: block;
  outline: initial;
}

summary::-webkit-details-marker {
  display: none;
}

ion-button {
  color: white;
  background-color: var(--ion-color-primary);
  width: 250px !important;
  border-radius: 15px;
  font-size: 14px !important;
}

.text-xxxxl {
  font-size: 36px;
  padding: 10px;
  line-height: 20px;
}

div.text-xxxl .text-xxxl {
  font-size: 26px;
  line-height: 26px;
}

.text-xxl {
  font-size: 20px;
  line-height: 20px;
}

.text-xl {
  font-size: 18px;
  line-height: 18px;
}

.text-lg {
  font-size: 16px;
  line-height: 16px;
}

.text-md {
  font-size: 14px;
  line-height: 14px;
}

.text-sm {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
}

.text-xs {
  font-size: 10px;
  line-height: 10px;
}

@media (max-width: 930px) {
  .text-xxxl {
    font-size: 20px;
    line-height: 16px;
  }
  .margin-right {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .text-xxxl {
    font-size: 14px;
    line-height: 16px;
  }
  .margin-right {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .text-xxxl {
    font-size: 12px;
    line-height: 16px;
  }
  .margin-right {
    margin-right: 0;
  }
}

@media (max-width: 350px) {
  .text-xxxl {
    font-size: 10px;
    line-height: 16px;
  }
  .margin-right {
    margin-right: 0;
  }
}

.no-padding-left {
  padding-left: 0;
}

.padding-left {
  padding-left: 5px !important;
}

.margin-auto {
  margin: auto;
}

.color-medium {
  color: var(--ion-color-medium);
}

.social-like {
  color: #e81c27;
}

ion-badge.small {
  padding: 1px 3px;
  font-size: 8px;
}

ion-badge.medium {
  padding: 2px 6px;
  font-size: 10px;
}

ion-badge.outline {
  background: #fff;
  border: 1px solid;
}

ion-badge.outline[color='light'] {
  border-color: var(--ion-color-light);
  color: var(--ion-color-medium);
}

ion-badge.outline[color='medium'] {
  border-color: var(--ion-color-medium);
  color: var(--ion-color-medium);
}

ion-badge.round {
  border-radius: 12px;
}

ion-badge ion-icon,
ion-badge ion-text {
  vertical-align: middle;
}

ion-badge ion-icon {
  margin-right: 3px;
}

ion-icon {
  font-size: 24px;
}

ion-button {
  text-transform: initial;
}

ion-avatar.menu-avatar {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

ion-card {
  -webkit-box-shadow: initial;
          box-shadow: initial;
  border: 1px solid #e5e5e5;
}

ion-card-subtitle {
  font-weight: 500;
  letter-spacing: initial;
  text-transform: initial;
}

ion-grid {
  background: #fff;
}

.icon-text {
  margin-right: 5px;
  vertical-align: bottom;
}

ion-item {
  --border-color: var(--ion-color-light);
}

ion-modal {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  --height: 75% !important;
}

ion-popover.popover-large .popover-content {
  min-width: 55%;
}

.page-footer {
  --padding-bottom: 62px;
}

.block-intro ion-icon {
  font-size: 20px;
}

.card-overlay ion-img {
  position: relative;
}

.card-overlay ion-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}

.card-overlay ion-col ion-icon,
.card-overlay ion-col ion-img,
.card-overlay ion-col ion-text {
  margin: auto;
  font-size: 18px;
  color: #fff;
  min-height: initial !important;
}

.items-overflow {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.items-overflow ion-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: initial;
  height: 100%;
}

.form ion-item {
  margin-top: 10px;
  --padding-start: 0;
  --inner-padding-end: 0;
}

.form ion-label,
.form ion-input,
.form ion-textarea,
.form ion-select {
  font-size: 14px !important;
}

.footer-sticky {
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 22px 5px;
  background: var(--ion-color-light);
  width: 100%;
}

.footer-sticky.footer-buttons {
  padding: 0;
}

.footer-sticky.footer-buttons ion-button {
  margin: 0;
  height: 62px;
}

.footer-sticky.active {
  background: var(--ion-color-primary);
}

.footer-sticky-disabled {
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 22px 5px;
  background: var(--ion-color-light);
  width: 100%;
}

.footer-sticky-disabled.footer-buttons {
  padding: 0;
}

.footer-sticky-disabled ion-text {
  cursor: pointer;
}

.footer-sticky-disabled.active {
  background: var(--ion-color-light);
}

ion-checkbox {
  width: 30px;
  height: 30px;
}

/* // ion-toast */
ion-toast {
  font-size: 1.2rem;
  margin-top: 0px;
  text-align: center;
  --max-width: fit-content;
  position: fixed;
  color: var(--ion-color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=Page.css.map */